localhost:80 {
  root * {{caddy_root_folder}}
  #encode zstd gzip
  templates
  file_server browse
  php_fastcgi unix//etc/alternatives/php-fpm.sock
  log {
    output file /var/log/caddy/caddy.log
    format single_field common_log
  }
}
